.banner { 
	grid-area: header; 
}
.typeform-widget{ 
	grid-area: menu;
	margin-top: 70px;
	 }
.cards { grid-area: main; }
.footer { grid-area: footer; }

.big-contain{
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'menu footer footer footer footer footer';
}
.big-container{
	width: 1300px;
	margin: 10px auto;
		
}
@media(max-width: 960px){
	.big-container{
		width: 700px; 
	}
}
@media(max-width: 600px){
	.big-container{
		width: 450px;
	}
} 
@media(max-width: 500px){
	.big-container{
		width: 300px;
	}
} 
